<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowPoint</servlet-name>
    <servlet-class>com.ch.servlet.ShowPoint</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowStayPoint</servlet-name>
    <servlet-class>com.ch.servlet.ShowStayPoint</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowClusteredStayPoint</servlet-name>
    <servlet-class>com.ch.servlet.ShowClusteredStayPoint</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.ch.servlet.Test</servlet-class>
  </servlet>



  
   <servlet-mapping>
    <servlet-name>ShowPoint</servlet-name>
    <url-pattern>/ShowPoint</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ShowStayPoint</servlet-name>
    <url-pattern>/ShowStayPoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowClusteredStayPoint</servlet-name>
    <url-pattern>/ShowClusteredStayPoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
